body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

canvas {
  border: 1px solid white;
  cursor: ns-resize;
}

.ew {
  cursor: ew-resize;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#controls > * {
  margin: 1rem;
}

button {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 3px;
}

#scoreboard {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#scoreboard > * {
  margin: 1rem;
}

#github {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

#github a {
  color: #666;
}

#github a:hover {
  color: #999;
}